#head .share{
	width:20%;
	height:60%;
	position:absolute;
	right:5%;
	top:20%;
	border-radius:6px;
	border:1px solid #D23262;
	background:#F65B85;
	color:#FFF;
	font-size:18px;
	outline: none;
}

#goods_details{
	width:100%;
	height:90%;
}

.details_img{
	width:100%;
	height:39%;
}
.details_img img{
	width:100%;
	height:100%;
}
.details_text{
	height:61%;
	padding:0 10px;
}
.details_text p{
	width:100%;
	height:100%;
	font-size:16px;
	color:#585858;
}
#intro_tab{
	width:100%;
	height:10%;
	position:fixed;
	left:0;
	bottom:0;
	background:#5C5B61;
}
#intro_tab p{
	width:33.33%;
	height:100%;
	display:flex;
	float:left;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border-right:1px solid #282828;
	color:#FFF;
	font-size:20px;
	border-top:5px solid #5C5B61;
}
#intro_tab p:nth-child(2){
	border-top:5px solid #E43669;
}
#intro_tab p:nth-child(3){
	border-right:none;
}