.container{
     width: 100%;
     position:relative;
}
.box{
    width: 94%;
    margin:0 auto; 
}
.header{
    height: 35px;
    font-size:20px;
    color:black;
    line-height:35px;
    font-weight:600;
}
.title{
    height: 35px;
    line-height:35px;
}
.title span:nth-child(1){
      width: 80px;
      height: 30px;
      font-size:17px;
      background-color: #4CB034;
      text-align: center;
      line-height:30px;
      color:#fff;
      border-radius:5px;
      display:inline-block;
}
.time{
    margin-left:10px;
    color:#666666;
    font-size:17px;
}
.img{
     width: 100%;
     height: 150px;
     background-color: pink;
     margin-top:10px;
}

.news{
    text-indent:30px;
     font-size:18px;
     color:#686868;
     line-height:30px;
     margin-top:10px;
}
.read{
    margin-top:30px;
    color:#666666;
    font-size:15px;
}
.num{
    color:orange;
}
